container_commands:
#  01_migrate:
#    command: "sudo docker exec `sudo docker ps -q` /srv/project/app/manage.py migrate --noinput"
#    leader_only: true
  02_collectstatic:
    command: "sudo docker exec `sudo docker ps -q` /srv/project/app/manage.py collectstatic --noinput"
    leader_only: true
  02_creatsu:
    command: "sudo docker exec `sudo docker ps -q` /srv/project/app/manage.py createsu"
    leader_only: true